<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%-include('header')%>
    <h1>Students Report Card</h1>
    <%# ejs comment%>
    <ul>
      <%student.map((stu)=>{%>
      <li>
        <p>Name:<%=stu.name%></p>
        <p>Semester:<%=stu.semester%></p>
        <p>Subject:<%=stu.subject%></p>
      </li>
      <% })%>
    </ul>
    <%-include('footer')%>
  </body>
</html>
